#%RAML 1.0
baseUri: https://mocksvc.mulesoft.com/mocks/f7a4017a-410a-4654-afd7-75062f5b19f0/mocks/c275241c-5101-4a9c-944f-3c00493bdf74 # baseUri: https://mocksvc.mulesoft.com/mocks/c275241c-5101-4a9c-944f-3c00493bdf74 # 
title: Dt. Customers
version: v1.1
mediaType: application/json

/customers:
  get: 
    description: Retrieves all customers in the Customer database. Output is presented in a nested JSON format.
    responses: 
      200:
        body:
          application/json:
            example: 
              description: "An example customer:"
              displayName: Customer
              value: {"custId": "111",
                "firstName": "Maxim",
                "lastName": "Gorky",
                "address": {
                "street": "111 Lenina Sq.",
                "city": "Yakutsk",
                "postCode": "6677"}}
      400:
        body: 
          application/json:
            example:
              {"message" : "Please double check your request."}
  /{custID}:
    get:
      description: Retrieve customer record by custID (URI-Parameter). Output is presented in a nested JSON format.
      responses: 
        200:
          body: 
            application/json:
              example: 
                description: "An example customer:"
                displayName: Customer
                value: {"custId": "111",
                  "firstName": "Maxim",
                  "lastName": "Gorky",
                  "address": {
                  "street": "111 Lenina Sq.",
                  "city": "Yakutsk",
                  "postCode": "6677"}}
  delete:
    description: Remove customer from customers database by custID (Query-Parameters) 
    queryParameters: 
      custID: string
    responses: 
      204:
        body: 
          application/json:
            description: Customer record has been deleted.
      400:
        body: 
          application/json:
            description: Please double check your request.
  post:
    description: Create a customer using JSON). 
    body: 
      application/json:
        example: {"custID" : "123456", "firstName" : "Ernest", "lastName" : "Hemingway", "address" : {"street" : "123 Main St", "city" : "Auckland", "postCode" : "1010"}}
    responses: 
      201:
        body:
          application/json:
            description: Customer record has been successfully added.
      400:
        body: 
          application/json:
            description: Please double check your request.
  patch:
    description: Update customers address by custID (Query-Parameters)
    queryParameters: 
      custID:
        description: Unique identifier
        type: string
      street:
        description: Street address
        type: string
      city:
        description: City 
        type: string
      postCode:
        description: Postal code 
        type: string
    responses: 
      204:
        body:
          application/json:
            description: Customer record has been successfully updated.
      400:
        body: 
          application/json:
            description: Please double check your request.